version: '3.8'
volumes:
  uploads:
services:
  esabapp_backend:
    image: andremmiller/esabapp_backend:2.0
    ports:
      - "3000:3000"
    volumes:
      - uploads:/usr/src/app/uploads
    networks:
      - database_app
      - app
networks:
  database_app:
    external: true
  app:
    driver: bridge